@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.LoginPage_SigninButton,.RegisterPage_SignupButton {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 0, 0);
  font-size: 14px;
  letter-spacing: 1px;
}

.LoginPage_Screen {
  position: relative;
  height: 610px;
  width: 450px;
  margin: auto;
  padding: 60px 60px;
  background: url(https://picsum.photos/id/1004/5616/3744) no-repeat   center center #505050;   
  background-size: cover;
   background-image: url('../pictures/login_page_background.jpg');
  box-shadow: 0px 30px 60px -5px #000;
}

.LoginPage_Form{
  padding-top: 60px;
}

.active {
  border-bottom: 2px solid #1161ed;
   /* background-color: #d3d3d3; */
}

.nonactive {
  color: rgba(255, 255, 255, 0.2);
}


.LoginRegister_Span,.span{
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
  top: -55px;
  transition: all 0.5s ease-in-out;
}


.text,.LoginPage_text,.RegisterPage_text {
  border: none;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus,.LoginPage_text:focus,.RegisterPage_text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + .span,.LoginPage_text:focus + .span,.RegisterPage_text:focus + .span {
  opacity: 0.6;
}


.LoginPage_RememberMeCheckbox {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.LoginPage_RememberMeCheckbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.LoginPage_RememberMeCheckbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}

.LoginPage_RememberMeCheckbox:focus {
  outline: none;
}

.LoginPage_Label {
  display: inline-block;
  padding-top: -20px;
  padding-left: 5px;
}

.LoginPage_SigninButton,.RegisterPage_SignupButton {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.RegisterPage_SignupButton{
  margin-top: 50px;
}

.LoginPage_SigninButton:hover,.RegisterPage_SignupButton:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.LoginPage_SigninButton:focus,.RegisterPage_SignupButton:focus {
  outline: none;
}


.LoginPage_forgotPasswordLink{
  text-align: center;
  display: block;
  top: 83px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.658);

}

.text_span{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

.h2:first-child {
  padding-left: 0px;
}

input[type="text"],
input[type="password"] {
font-family: 'Montserrat', sans-serif;
color: #fff;
}

input {
display: inline-block;
padding-top: 20px;
font-size: 14px;
}

.h2,
.LoginRegister_Span{
margin-left: 10px;
}

.LoginPage_RememberMeCheckbox{
  margin-left: 20px;
}

.keep_me_signed{
  margin-top: -20px;
}

.dont_have_an_account{
  margin-left: 32px;
}